{% extends "blog/base.html" %}

{% block content %}

{% for post in posts.object_list %}
<article>

    <h3><a href="#">{{ post.title }}</a></h3>
    <h6>Written by <a href="#">John Smith</a> on {{ post.created }}.</h6>

    <div class="row">
        <div class="large-12 columns">
            {{ post.body|linebreaks }}
        </div>
    </div>
    <div class="commentlink"><a href="{% url 'blog.views.post' post.pk %}">Comments</a></div>
</article>
{% if forloop.counter|divisibleby:2 and not forloop.last %}
<hr/>
{% endif %}
{% endfor %}

<hr/>
{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination-centered">
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="arrow">
            <a href="?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a></li>
        {% endif %}

        <li class="unavailable">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</li>

        {% if posts.has_next %}
        <li class="arrow"></li>
        <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
        {% endif %}

    </ul>

</div>
{% endif %}
<!--<div class="main">-->

<!--&lt;!&ndash; Posts  &ndash;&gt;-->
<!--<ul>-->
<!--{% for post in posts.object_list %}-->
<!--<div class="title">{{ post.title }}</div>-->
<!--<ul>-->
<!--<div class="time">{{ post.created }}</div>-->
<!--<div class="body">{{ post.body|linebreaks }}</div>-->
<!--</ul>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--&lt;!&ndash; Next/Prev page links  &ndash;&gt;-->


<!--</div>-->

{% endblock %}